.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--offblack);
    color: var(--offwhite);
    width: 100%;
    height: 65px;
}

.header_search, .header_nav, .header_plus, .header_profile {
    display: none;
}

.header_col2 .flex {
    display: none;
}

.header_mobile_menu {
    font-size: 1.6rem;
    color: var(--fullwhite);
}

.header_logo {
    font-size: 2.2rem;
    color: var(--fullwhite);
}

.header_bell {
    font-size: 1.12rem;
    color: var(--fullwhite);
    position: relative;
}

.bell_circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: linear-gradient(#54a3ff,#006eed);;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 16px 1em;
        margin-bottom: 1.8em;
    }

    .header_mobile_menu {
        display: none;
    }

    .header_search, .header_nav, .header_plus, .header_profile {
        display: contents;
    }

    .header_col2 .flex {
        display: flex;
    }

    .header .dropdown {
        color: var(--fullwhite);
    }

    .nav_hide {
        display: none;
    }

    .header_col1, .header_col2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    
    .header_col2 > * {
        margin-left: 15px;
    }

    .header_search {
        display: inline-block;
        margin: 0 16px;
        position: relative;
        width: 180px;
    }

    .header_search_input {
        height: 30px;
        padding: 5px 10px;
        border: none;
        outline: none;  
        border-radius: 6px;
        width: 100%;
        background-color: inherit;
        border: 1px solid  rgba(255, 255, 255, 0.3);
    }

    .header_search_input::placeholder {
        color: hsla(0,0%,100%,.75);
    }

    
    .form_decor {
        position: absolute;
        top: 4px;
        bottom: 4px;
        right: 8px;
        background: inherit;
        width: 18px;
        height: 20px;
        border-radius: 2px;
        border: 1px solid  rgba(255, 255, 255, 0.3);
    }

    .header_nav a {
        color: var(--fullwhite);
        padding: 0 5px;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
    }

    .header_nav a:hover, .header_nav:active {
        color: var(--offwhite);
    }

    .header_plus {
        overflow: hidden;
        width: 35px;
        height: 20px;
        position: relative;
    }

    .header_plus .plus {
        margin-right: 5px;
    }

    .header_plus .line {
        width: 1.5px;
        height: 12px;
        background-color: var(--fullwhite);
    }

    .header_plus .line-transform {
        transform: rotate(90deg);
        position: absolute;
        top: 4px;
        
    }

    .header_profile_img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        overflow: hidden;
    }

}

@media screen and (min-width: 1012px) {
    .header {
        padding: 16px 2em;
    }

    .header_search {
        width: 270px;
    }

    .nav_hide {
        display: inline-block;
        margin-left: 5px;
    }

}
