* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

:root {
    --fullwhite: #fff;
    --fullback: #000;
    --offblack: rgb(36, 41, 46);
    --offwhite: rgba(255, 255, 255, 0.7);
    --border-bottom: #eaecef;
    --blue-text:  rgb(3, 102, 214);
}

h1 {
    font-weight: 600;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
}

.errors {
    font-size: 0.9rem;
    color: #ff0000;
    margin-top: 1em;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.dropdown {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;   
    margin-left: 4px; 
}

input[type=text]:focus {
    outline: none;
    border: 1px solid #79b8ff;
    border-radius: 6px;
}

