body {
    font-family: 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

:root {
    --fullwhite: #fff;
    --fullback: #000;
    --offblack: rgb(36, 41, 46);
    --offwhite: rgba(255, 255, 255, 0.7);
    --border-bottom: #d1d5da;
    --blue-text:  rgb(3, 102, 214);
}

h1 {
    font-weight: 600;
}

p {
    font-size: 14px;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.dropdown {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;   
    margin-left: 5px; 
}

